* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffc425;
  background-image: linear-gradient(to bottom, #ffc425 50%, #eaaa00 100%);
  background-attachment: fixed;
}

p, li {
  font-size: 18px;
  line-height: 1.5em;
}

input, button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #0d181c;
}

.container {
  max-width: 900px;
  margin: auto;
}

/* Header */
.header h1 {
  text-align: center;
  font-family: 'Bevan', cursive;
  transform: rotate(-5deg) skew(-20deg);
  color: #0d181c;
  margin: 20px 0;
  font-size: 100px;
  font-weight: normal;
  text-shadow: 3px 3px 0 rgba(13, 24, 28, 0.2);
}

/* Search */
.search {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
}

.search input {
  flex-grow: 1;
  background-color: #fff;
  border: 0;
  padding: 20px;
  font-size: 20px;
}

.search input:focus {
  outline-color: #e13e45;
}

.search button {
  background-color: #e13e45;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}

.search button:disabled {
  opacity: 0.5;
}

/* Beer listing */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Beer card */
.beer {
  background-color: #fff;
  padding: 10px;
  border-top: 15px solid #e13e45;
  width: 260px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(13, 24, 28, 0.2);
  transition: 0.2s;
}

.beer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 2px rgba(13, 24, 28, 0.3);
}

.beer h2 {
  margin: 0;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.beer img {
  height: 250px;
  display: block;
  margin: auto;
}

/* Loader */
.loader {
  text-align: center;
  font-size: 30px;
}

/* Single */
.single {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(13, 24, 28, 0.2);
  border-top: 15px solid #e13e45;
  padding: 20px;
  margin: 0 auto 100px;
  max-width: 800px;
  box-sizing: border-box;
}

.single .flex {
  display: flex;
  flex-wrap: wrap;
}

.single .label {
  width: 30%;
}

.single .desc {
  width: 70%;
}

.single img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.single h2 {
  font-size: 30px;
}

.single h3 {
  font-size: 20px;
}

.deets {
  display: flex;
  justify-content: space-between;
}

.glass {
  text-align: center;
}

.glass img {
  width: 200px;
}

.abv {
  font-size: 20px;
  margin-top: 20px;
}

.ibu .circle {
  border-radius: 50%;
  background-color: lightgray;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.ibu .circle.active {
  background-color: #ffc425;
}

.order-container {
  text-align: center;
}

.order {
  background-color: #e13e45;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  text-transform: uppercase;
  font-size: 20px;
  border: 0;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 50px;
  }

  .beer {
    width: 100%;
  }

  .deets {
    flex-wrap: wrap;
  }

  .ibu {
    text-align: center;
  }

  .glass {
    width: 100%;
  }
}
